div.center-element {
    padding: 65px;
    position: absolute;
    width: 40%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #978c8c;
    border-radius: 10px;
}

label.label_import {
    font-size: 35px;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

button.import-data {
    margin-top: 30px;
    width: 100%;
}