{% extends 'base.html.twig' %}

{% block title %}Importer le fichier{% endblock %}

{% block body %}

<div class="center-element">
    {# read and display all flash messages #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert {{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {{ form_start(form) }}
        {{ form_label(form.fileName) }}
        {{ form_widget(form.fileName) }}
        {{ form_errors(form.fileName) }}
        <button type="submit" class="btn btn-primary import-data">Envoyer</button>
    {{ form_end(form) }}
</div>
{% endblock %}

{% block javascripts %}
    <script>
        
    </script>
{% endblock %}